.analytics-dashboard{

max-width:1500px;

margin:auto;

padding:40px 60px 100px;

}

.chart-placeholder{

height:600px;

display:flex;

justify-content:center;

align-items:center;

border-radius:28px;

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.08);

color:#ff4fd8;

font-size:34px;

}