.guardian-card{

height:100%;

padding:30px;

border-radius:24px;

background:rgba(15,12,28,.82);

border:1px solid rgba(255,80,220,.16);

backdrop-filter:blur(20px);

box-shadow:
0 0 40px rgba(255,0,220,.10);

transition:.35s;

}

.guardian-card:hover{

transform:translateY(-8px);

box-shadow:
0 0 50px rgba(255,0,220,.25);

}

.guardian-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:28px;

}

.guardian-header h3{

font-size:18px;

letter-spacing:2px;

color:white;

}

.guardian-header span{

font-size:13px;

color:#18ff91;

font-weight:700;

}

.guardian-list{

display:flex;

flex-direction:column;

gap:18px;

}

.guardian-item{

display:flex;

justify-content:space-between;

align-items:center;

padding:16px;

border-radius:18px;

background:rgba(255,255,255,.03);

border:1px solid rgba(255,255,255,.05);

transition:.3s;

}

.guardian-item:hover{

transform:translateX(6px);

border-color:#ff4fd8;

}

.guardian-left{

display:flex;

align-items:center;

gap:15px;

}

.guardian-avatar{

width:52px;

height:52px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

background:linear-gradient(
135deg,
#ff4fd8,
#8d4dff
);

box-shadow:
0 0 20px rgba(255,79,216,.4);

}

.guardian-left h4{

margin-bottom:4px;

color:white;

}

.guardian-left p{

font-size:14px;

color:#bfc6db;

}

.guardian-rank{

font-size:18px;

font-weight:700;

color:#ff4fd8;

}