.adoption-stats{

max-width:1500px;

margin:auto;

padding:20px 60px;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:24px;

}

.adoption-card{

padding:30px;

border-radius:24px;

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(18px);

}

.adoption-card p{

color:#aeb4ce;

margin-bottom:12px;

}

.adoption-card h2{

font-size:50px;

color:#ff4fd8;

}