.energy{

position:absolute;

border-radius:50%;

filter:blur(90px);

opacity:.35;

animation:energyMove 8s ease-in-out infinite;

}

.energy1{

width:260px;

height:260px;

background:#ff4fd8;

left:30%;

top:25%;

}

.energy2{

width:200px;

height:200px;

background:#8b5cff;

right:25%;

bottom:25%;

animation-delay:2s;

}

.energy3{

width:180px;

height:180px;

background:#ff89ef;

left:55%;

top:60%;

animation-delay:4s;

}

/* ===================== */

.particle{

position:absolute;

width:6px;

height:6px;

border-radius:50%;

background:#ff4fd8;

box-shadow:

0 0 18px #ff4fd8;

animation:floatParticle 5s linear infinite;

}

.p1{

left:28%;

top:18%;

}

.p2{

left:75%;

top:22%;

animation-delay:1s;

}

.p3{

left:20%;

bottom:22%;

animation-delay:2s;

}

.p4{

right:18%;

bottom:18%;

animation-delay:3s;

}

.p5{

left:48%;

top:8%;

animation-delay:4s;

}

.p6{

left:60%;

bottom:8%;

animation-delay:5s;

}

/* ===================== */

@keyframes energyMove{

0%{

transform:scale(.9);

}

50%{

transform:scale(1.15);

}

100%{

transform:scale(.9);

}

}

@keyframes floatParticle{

0%{

transform:translateY(0px);

opacity:.4;

}

50%{

transform:translateY(-25px);

opacity:1;

}

100%{

transform:translateY(0px);

opacity:.4;

}

}