.cat-card{

padding:28px;

border-radius:28px;

background:rgba(255,255,255,.04);

border:1px solid rgba(255,79,216,.15);

backdrop-filter:blur(20px);

transition:.35s;

display:flex;

flex-direction:column;

gap:22px;

}

.cat-card:hover{

transform:translateY(-10px);

border-color:#ff4fd8;

box-shadow:

0 0 35px rgba(255,79,216,.22);

}

.cat-image{

height:220px;

border-radius:22px;

background:

linear-gradient(

135deg,

rgba(255,79,216,.12),

rgba(143,77,255,.10)

);

display:flex;

justify-content:center;

align-items:center;

font-size:90px;

}

.cat-info h2{

font-size:30px;

}

.cat-info p{

color:#9ea6c2;

margin-top:6px;

}

.cat-details{

display:flex;

justify-content:space-between;

}

.cat-details span{

font-size:13px;

color:#9ea6c2;

}

.cat-details h3{

margin-top:8px;

font-size:28px;

color:#ff4fd8;

}

.cat-status{

display:flex;

justify-content:space-between;

align-items:center;

}

.cat-status span{

padding:8px 18px;

border-radius:30px;

background:#ff4fd820;

color:#ff4fd8;

font-size:14px;

}

.cat-status p{

color:#9ea6c2;

}

.cat-card button{

margin-top:10px;

padding:15px;

border:none;

border-radius:16px;

background:linear-gradient(

90deg,

#ff4fd8,

#8f4dff

);

color:white;

font-size:15px;

cursor:pointer;

transition:.3s;

}

.cat-card button:hover{

transform:scale(1.02);

}