.search-container{

width:100%;

margin-bottom:35px;

}

.search-box{

display:flex;

align-items:center;

gap:15px;

padding:18px 24px;

border-radius:20px;

background:rgba(255,255,255,.04);

border:1px solid rgba(255,79,216,.18);

backdrop-filter:blur(18px);

transition:.35s;

position:relative;

z-index:10;

}

.search-box:hover{

border-color:#ff4fd8;

box-shadow:
0 0 25px rgba(255,79,216,.18);

}

.search-icon{

font-size:22px;

color:#ff4fd8;

}

.search-box input{

flex:1;

background:none;

border:none;

outline:none;

font-size:17px;

color:white;

pointer-events:auto;

position:relative;

z-index:100;

}

.search-box input::placeholder{

color:#8f95b2;

}

